body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'fedra';
  src: url("/public/fnt/WF-020550-002332-000007.eot");
  src: url("/public/fnt/WF-020550-002332-000007.eot?#iefix") format('embedded-opentype'), url("/public/fnt/WF-020550-002332-000007.woff") format('woff'), url("/public/fnt/WF-020550-002332-000007.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fedra';
  src: url("/public/fnt/WF-020550-002332-000008.eot");
  src: url("/public/fnt/WF-020550-002332-000008.eot?#iefix") format('embedded-opentype'), url("/public/fnt/WF-020550-002332-000008.woff") format('woff'), url("/public/fnt/WF-020550-002332-000008.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'fedra';
  src: url("/public/fnt/WF-020550-002332-000025.eot");
  src: url("/public/fnt/WF-020550-002332-000025.eot?#iefix") format('embedded-opentype'), url("/public/fnt/WF-020550-002332-000025.woff") format('woff'), url("/public/fnt/WF-020550-002332-000025.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 2.75em;
  line-height: 1.363636363636364;
  margin: 0.454545454545455em 0;
  text-transform: uppercase;
}
h2 {
  font-size: 1.95em;
  line-height: 1.282051282051282;
  margin: 0.641025641025641em 0;
}
h3 {
  font-size: 1.15em;
  line-height: 1.086956521739131;
  margin: 1.086956521739131em 0;
}
p,
li {
  font-size: 16px;
  line-height: 1.25;
  margin: 1.25em 0;
}
a {
  text-decoration: none;
  color: #249e4e;
}
a:visited {
  color: #249e4e;
}
pre,
code {
  background: #efefef;
}
pre {
  padding: 0.1em;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "fedra", "Helvetica Neue", "Helvetica";
  color: #050505;
  padding: 0;
  margin: 0;
}
section#site-content {
  width: 600px;
  margin: 2.5em auto 0 auto;
}
header#main {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
}
header#main h1 {
  border-bottom: 4px solid #249e4e;
}
header#main h1 a {
  color: #0a2d16;
}
header#main h1 span {
  font-size: 0.75rem;
  font-style: italic;
  margin-left: 20px;
}
footer#main {
  display: inline;
  float: left;
  overflow: hidden;
  width: 280.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 280.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
  margin-left: 310.0000000000002px;
  margin-top: 2.5em;
  border-top: 2px solid #050505;
  background: #efefef;
  box-sizing: border-box;
  padding: 1.25em;
}
section#intro {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
}
form#find {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
}
form#find label,
form#find input,
form#find button {
  padding: 0 1.5em;
  line-height: 3.260869565217393rem;
  font-size: 1.15rem;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
form#find label {
  border-radius: 60px 0px 0px 60px;
  background: #d9f6e3;
}
form#find input {
  width: 10em;
  background: #efefef;
}
form#find button {
  border-radius: 0px 60px 60px 0px;
  background: #249e4e;
  color: #fff;
}
form#find_address {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
  border: 2px solid #79e19e;
  border-width: 0 2px 2px 0;
  background-color: #efefef;
}
form#find_address p {
  padding: 0 1em;
}
form#find_address select {
  max-width: 360px;
}
form#find_address p.info {
  font-style: italic;
  display: block;
  font-size: small;
  margin-top: -0.833333333333333em;
  text-indent: 2em;
}
div.collection_container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 379.9999999999998px;
  margin: 0 10.000000000000199px;
  *width: 379.9999999999998px -correction;
  *margin: 0 10.000000000000199px -correction;
  margin-left: 109.99999999999979px;
  margin-top: 1.25em;
}
div.collection_container h3 {
  margin: 0;
}
div.collection_container div.collection {
  padding-left: 40px !important;
  margin-top: 1.25em;
}
div.collection_container div.collection .caption {
  font-weight: bold;
}
div.collection_container div.collection p {
  margin: 0;
}
nav#return_to_query {
  display: inline;
  float: left;
  overflow: hidden;
  width: 180px;
  margin: 0 10.000000000000199px;
  *width: 180px -correction;
  *margin: 0 10.000000000000199px -correction;
  margin-left: 409.99999999999983px;
}
nav#return_to_query p {
  margin-bottom: 0;
}
nav#return_to_query p a {
  color: #fff;
  background: #249e4e;
  display: inline-block;
  border-radius: 0.961538461538462em;
  font-size: 1.15em;
  line-height: 1.923076923076923;
  padding: 0 1em;
}
div#explanation {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
  margin-top: 2.5em;
  border: 2px solid #0a2d16;
  border-width: 2px 0 0 2px;
  padding: 1.25em 0 0 1.25em;
  box-sizing: border-box;
}
div#explanation h2 {
  margin-top: 0;
}
div#about {
  display: inline;
  float: left;
  overflow: hidden;
  width: 580.0000000000002px;
  margin: 0 10.000000000000199px;
  *width: 580.0000000000002px -correction;
  *margin: 0 10.000000000000199px -correction;
}
